{% extends "trailanalyzer/base.html" %}

{% block app_navigation_items %}
  <li class="title">App Navigation</li>
  <li class><a href="{% url 'trailanalyzer:home' %}">Home</a></li>
  <li class="active"><a href="{% url 'trailanalyzer:map' %}">Trail Analyzer</a></li>
<li><a href="{% url 'trailanalyzer:Video' %}">EXPERIENCE UTAH!</a></li>
<li><a href="{% url 'trailanalyzer:Help' %}">Help</a></li>
<li><a href="{% url 'trailanalyzer:techdoc' %}">Technical Documentation</a></li>
{% endblock %}


{% block app_content %}
<link rel="stylesheet" href="https://js.arcgis.com/3.16/dijit/themes/nihilo/nihilo.css">
<link rel="stylesheet" href="https://js.arcgis.com/3.16/esri/css/esri.css">
<style>
     #mainWindow {
        font-family: sans-serif;
        height: 100%;
        width: 100%;
      }
      #header {
        height: 80px;
        overflow: auto;
        padding: 0.5em;
      }
    </style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"       type="text/javascript"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://js.arcgis.com/3.16/"></script>
    <script>
      var map, toolbar, symbol, geomTask;

      require([
        "esri/map",
        "esri/toolbars/draw",
        "esri/graphic",
        "esri/Color",
        "esri/graphicsUtils",
        "esri/tasks/Geoprocessor",
        "esri/tasks/FeatureSet",

        "esri/symbols/SimpleMarkerSymbol",
        "esri/symbols/SimpleLineSymbol",
        "esri/symbols/SimpleFillSymbol",

        "dojo/parser", "dijit/registry",

        "dijit/layout/BorderContainer", "dijit/layout/ContentPane",
        "dijit/form/Button", "dijit/WidgetSet", "dojo/domReady!"
      ], function(
        Map, Draw, Graphic,Color,graphicsUtils,Geoprocessor,FeatureSet,
        SimpleMarkerSymbol, SimpleLineSymbol, SimpleFillSymbol,
        parser, registry
      ) {
        parser.parse();

        map = new Map("map", {
          basemap: "streets",
          center: [-111.6585, 40.2338],
          zoom: 5
        });
        var baselayer=new esri.layers.ArcGISDynamicMapServiceLayer("http://geoserver.byu.edu/arcgis/rest/services/AlexJordanTrail/MyMapService/MapServer");
        map.addLayer(baselayer);

        var gp = new Geoprocessor("http://geoserver.byu.edu/arcgis/rest/services/AlexJordanTrail/Trailanalyzer/GPServer/Trail%20Analyzer");
        gp.setOutputSpatialReference({
              wkid: 102100
            });
        map.on("load", createToolbar);

        // loop through all dijits, connect onClick event
        // listeners for buttons to activate drawing tools
        registry.forEach(function(d) {
          // d is a reference to a dijit
          // could be a layout container or a button
          if ( d.declaredClass === "dijit.form.Button" ) {
            d.on("click", activateTool);
          }
        });

        function activateTool() {
        map.graphics.clear();
          var tool = this.label.toUpperCase().replace(/ /g, "_");
          toolbar.activate(Draw[tool]);
          map.hideZoomSlider();
        }

        function createToolbar(themap) {
          toolbar = new Draw(map);
          toolbar.on("draw-end", addToMap);
        }

        function addToMap(evt) {
          var symbol;
          toolbar.deactivate();
          map.showZoomSlider();
          switch (evt.geometry.type) {
            case "point":
            case "multipoint":
              symbol = new SimpleMarkerSymbol();
              break;
            case "polyline":
              symbol = new SimpleLineSymbol();
              break;
            default:
              symbol = new SimpleFillSymbol();
              break;
          }
          var graphic = new Graphic(evt.geometry, symbol);
          map.graphics.add(graphic);

          var features = [];
            features.push(graphic);
            var featureSet = new FeatureSet();
            featureSet.features = features;
            var params = {
              "Feature_Set": featureSet,
            };
            gp.execute(params, getProfile);
        }


        function getProfile(results, messages){
          var elevation_values = [];
        	 var features = results[0].value.features;

        	 for(var f = 0,fl=features.length; f < fl; f++){
	        	 var z = results[0].value.features[f].attributes['FIRST_Z'];
	        	 elevation_values.push(z);
        	 }
        	 console.log(elevation_values);

        	 var elev=elevation_values.value
         var thelowest=Math.min.apply(null,elevation_values);
         var thehighest=Math.max.apply(null,elevation_values);
         var range=thehighest-thelowest
         if(range<400){
            difficulty="Level = Baby"
        }
        if(range<=600&&range>=400){
        difficulty="Level = Easy"
        }
         if(range<=800&&range>=600){
        difficulty="Level = Novice"
        }
         if(range<=1000&&range>=800){
        difficulty="Level = Intermediate"
        }
          if(range<=1300&&range>=1000){
        difficulty="Level = Advanced"
        }
         if(range<=1600&&range>=1300){
        difficulty= "Level = Expert"
        }
        if(range>1600){
        difficulty="Level = INSANITY!  YOU WILL PROBABLY DIE!"
        }
        window.alert(difficulty);


              $('#container').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: 'Elevation Profile'
        },
        xAxis: {
            allowDecimals: false,
            labels: {
                formatter: function () {
                    return this.value; // clean, unformatted number for year
                }
            }
        },
        yAxis: {
            title: {
                text: 'Height (m)'
            },
            labels: {
                formatter: function () {
                    return this.value;
                }
            }
        },
        tooltip: {
            pointFormat: '<b>{point.y}</b>'
        },
        plotOptions: {
            area: {
                pointStart: 0,
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        series: [{
            name: 'Elevation Profile',
            data: elevation_values
        }]
    });
        }
      });
    </script>

  <div id="mainWindow">
    <div id="header">
      <span>Draw:<br /></span>
      <button data-dojo-type="dijit/form/Button">Polyline</button>
      <button data-dojo-type="dijit/form/Button">Freehand Polyline</button>
    </div>
    <div id="map"></div>
    <div id="container" style="min-width: 310px; height: 250px; margin: 0 auto"></div>
  </div>
{% endblock %}

{% block app_actions %}
  <a href="" class="btn btn-default">Back</a>
{% endblock %}
